html
    head
    style
      include style.css
    body
        h1 This is my list of shows:
        p
          ul
            each val in shows
              li(class='showItem'): a(href='/shows/' + val.title) #{val.title}
